<h2 class="py-2 p-title">タグ一覧</h2>
<p>ユーザーの全投稿につけられたタグの一覧です。</p>

<table class="container-fluid">
    <thead>
        <tr class="row-fluid table-border-l">
            <th class="col-8"><p>タグ名</p></th>
            <th class="col-2"><p>関連投稿数</p></th>
            <th class="col-2"><p>付けられた投稿一覧</p></th>
        </tr>
    </thead>
    <tbody>
        <% @tags.each do |tag| %>
        <tr class="row-fluid table-border-s">
            <td class="col-8"><p>・<%= tag.name %></p></td>
            <td class="col-2"><p><%= tag.tag_lists.count %>件</p></td>
            <td class="col-2 text-center">
                <%= link_to search_path(:model => "tag_index", :word => "#{tag.name}") do %>
                    <p class="btn btn-info">リンク</p>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @tags %>