<h2>ユーザープロフィール</h2>

<div class="d-flex justify-content-center">
        <div class="mx-auto"><%= image_tag @user.show_p_img(100, 100) %></div>
</div>
<p class="mx-auto">ニックネーム　<%= @user.nickname %></p>
<p class="mx-auto">名前　<%= @user.name %></p>

<!--グループ機能は後日実装-->

<p class="mx-auto">コメント:<%= @user.body %></p>