<h2>退会確認</h2>

<p>本当に退会しますか？</p>
<p>退会した場合、<%= @user.nickname %>さんのアカウントは削除され、投稿ができなくなります</p>


<%= link_to edit_users_path do %>
    <p class="btn btn-info">戻る</p>
<% end %>

<%= link_to withdraw_users_path, method: :patch, "data-confirm" => "本当に退会しますか？" do %>
    <p class="btn btn-danger">退会する</p>
<% end %>