<h2 class="py-2 u-title">退会確認</h2>

<div class="mx-auto">
    <p>本当に退会しますか？</p>
    <p>退会した場合、<%= @user.nickname %>さんのアカウントは削除され、投稿ができなくなります</p>
    <p>グループや投稿のコメント等の作成もできなくなります。</p>
    
    <%= link_to edit_users_path do %>
        <p class="btn btn-info mx-3">戻る</p>
    <% end %>
    
    <%= link_to withdraw_users_path, method: :patch, "data-confirm" => "本当に退会しますか？" do %>
        <p class="btn btn-danger mx-3">退会する</p>
    <% end %>
</div>