<h2>テストページ</h2>

<% if user_signed_in? %>
<p>ログインユーザー名 => <%= @user.name %></p>
<p>ログインユーザーニックネーム => <%= @user.nickname %></p>
<p>ログインユーザーメールアドレス => <%= @user.email %></p>
<p>ログインユーザーステータス => <%= @user.is_active %></p>
<% else %>
<p>ログインできていません</p>
<% end %>