<div class="container-fluid t-visual">
    <h1 class="m-title my-5 text-center">Green pictures</h1>
    <div class="my-5">
        <p class="text-break m-title">ここは様々な植物やキノコなどの写真を投稿し共有するコミュニティサイトです。</p>
        <p class="text-break m-title">植物が好きな方や、たまたま綺麗な草花を見つけた方や、庭の草刈りでよくわからない草やキノコを見つけた方まで誰でも気軽に投稿してください。</p>
        <p class="text-break m-title">もしかしたら、新たな発見や生活の知恵が見つかるかもしれません。</p>
    </div>
</div>