<div class="container">
    <div class="row justify-content-center">
        <h1 class="m-title my-5">Green pictures</h1>
    </div>
    

<p>ここは様々な植物やキノコなどの写真を投稿し共有するコミュニティサイトです。</p>
<p>植物が好きな方や、たまたま綺麗な草花を見つけた方や、庭の草刈りでよくわからない草やキノコを見つけた方まで誰でも気軽に投稿してください。</p>
<p>もしかしたら、新たな発見や生活の知恵が見つかるかもしれません。</p>
</div>