@use '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color : black;
}


.u-header{
    background-color: #65a76c;
}

.adm-header{
    background-color: orange;
}

.table-border-l{
    border-top: 4px solid ghostwhite;
}

.table-border-s{
    border-top: 4px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
}

.comment-box{
    background-color: #c0cddc;
    color: none;
}

.post_img{
    width: 600px;
    height: 600px;
}
