<h3>投稿一覧</h3>

<table>
    <thead>
        <tr>
            <th><p>画像</p></th>
            <th><p>タイトル</p></th>
            <th><p>投稿者</p></th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= link_to post_path(post.id) do %>
                    <%= image_tag post.image, size: "80x80" %>
                <% end %>
            </td>
            <td><%= post.title %></td>
            <td><%= post.user.nickname %></td>
        </tr>
        <% end %>
    </tbody>
</table>

